<div class='container mt-4'>
  <%= render 'restaurant', restaurant: @restaurant %>


  <%= link_to 'go back', restaurants_path %>
  <%= link_to 'see all reviews', restaurant_reviews_path(@restaurant.id) %>


</div>
